@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    /* height: 100vh;
    background-image: url(images/d.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */
}
.bg {
    position: absolute;
    height: 419px;
    width: 100%;
    background-color: #0891b2;
    transform: skewY(-0.2rad) scaleY(1.3) translateY(-100px);
    z-index: -1;
}

p {
    margin-top: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 100px 0;
}

.img-abt-me-sec {
    display: flex;
    align-items: center;
    align-self: center;
}
/* 
.img-abt-me-sec,
.my-work-cards {
    width: 90%;
} */

.abt-me-sec {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 15px;
    background-color: white;
}

.abt-me-sec > a {
    align-self: flex-end;
}

.abt-me-sec > p {
    font-size: small;
}

.abt-me-sec-icon,
.art-icon {
    width: 30px;
}

.main-img {
    max-width: 400px;
}

.my-work-cards {
    width: 75%;
    align-self: center;
    padding-top: 60px;
}

.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    justify-self: center;
    padding-bottom: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
}

header {
    padding: 10px;
}

.art-p {
    padding: 0 10px;
    font-size: small;
}

article > div {
    background-color: brown;
    height: 200px;
}

footer {
    background-color: #0891b2;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

address > a > img {
    width: 30px;
}

/* .address-heading-p {
    flex: 1;
}
*/
.ft-img {
    max-width: 450px;
}

.main-img,
.abt-me-sec,
article,
.bg {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
    .img-abt-me-sec {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        display: block;
        position: relative;
    }

    .abt-me-sec {
        display: block;
    }

    .ft-img {
        max-width: 330px;
    }

    .main-img {
        transform: translate(-40px, -30px) scale(1.2);
        max-width: 300px;
        float: left;
    }
}

@media (max-width: 500px) {
    footer {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .address-heading-p {
        padding: 30px;
    }

    .ftr-heading {
        text-align: center;
    }

    .ft-img {
        max-width: 100%;
    }

    .img-abt-me-sec {
        flex-direction: column;
        display: flex;
        box-shadow: none;
        position: static;
    }

    .main-img {
        transform: none;
        max-width: none;
        max-width: 400px;
        float: none;
    }

    .abt-me-sec > p {
        font-size: 22px;
        display: flex;
    }

    .abt-me-sec > h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    .abt-me-sec > a {
        align-self: center;
    }

    .abt-me-sec-icon {
        width: 50px;
    }

    .abt-me-sec {
        box-shadow: none;
    }
}
